.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 108px;
    gap: 15px;
    color: var(--wight);
    background-color: var(--header-color);
    @media screen and (max-width: 400px){
        justify-content: center;
        padding: 0 25px;
        gap: 20px;
        height: 54px;
    }

    .delimiter{
        width: 2px;
        height: 68px;
        @media screen and (max-width: 400px){
            height: 25px;
        }
    }

    .logo{
        cursor: pointer;
        @media screen and (max-width: 400px){
            width: 110px;
        }
    }

    .company{
        font-size: 16px;
        @media screen and (max-width: 400px){
            font-size: 10px;
        }
    }
}
