.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 108px;
    gap: 15px;
    color: #ffffff;
    background-color: #010C13;

    @media screen and (max-width: 400px){
        justify-content: center;
        padding: 0 25px;
        gap: 20px;
        height: 54px;
    }

    .delimiter{
        width: 2px;
        height: 68px;
        @media screen and (max-width: 400px){
            height: 25px;
        }
    }

    .logo{
        cursor: pointer;
        @media screen and (max-width: 400px){
            width: 110px;
        }
    }

    .company{
        font-size: 16px;
        @media screen and (max-width: 400px){
            font-size: 10px;
        }
    }
}

.footer{
    display: flex;
    padding: 100px 200px;
    background: linear-gradient(to right, #00A8CD, #047DBF);
    color: #ffffff;
    @media screen and (max-width: 400px){
        flex-direction: column;
        padding: 30px 20px;
    }
    .car{
        position: relative;
        left: -111px;
        @media screen and (max-width: 400px) {
            display: none;
        }
    }
    .content{
        position: absolute;
        margin-top: 127px;
        @media screen and (max-width: 400px){
            position: static;
            margin-top: 0;
        }
        .title{
            font-size: 40px;
            font-family: var(--font-tactic-sans-black);
            @media screen and (max-width: 400px){
                font-size: 20px;
            }
        }

        .description{
            margin-top: 50px;
            width: 480px;
            font-size: 28px;
            font-family: var(--font-tactic-sans-med);
            @media screen and (max-width: 400px){
                margin-top: 20px;
                width: 280px;
                font-size: 14px;
            }
        }

        .next{
            margin-top: 50px;
            width: 440px;
            padding: 23px 127px;
            border: none;
            border-radius: 8px;
            color: #ffffff;
            background-color: #CA0100;
            @media screen and (max-width: 400px){
                padding: 12px 75px;
                width: 100%;
            }
        }
    }
}