:root {
  --wight:  #ffffff;
  --black: #000000;
  --replete-color: #CA0100;
  --dim-color: #F4F7F8;
  --header-color: #010C13;
  --font-light: #9AA7AD;
  --font-tactic-sans-reg: 'Tactic Sans', sans-serif;
  --font-tactic-sans-med: 'Tactic Sans', sans-serif;
  --font-tactic-sans-bold: 'Tactic Sans', sans-serif;
  --font-tactic-sans-black: 'Tactic Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-weight: 400;
  font-family: var(--font-tactic-sans-reg);
}

button{
  font-size: 28px;
  font-family: var(--font-tactic-sans-bold);
  @media screen and (max-width: 400px){
    font-size: 14px;
  }
}
