.page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 100px;
  width: 100%;
  height: 108px;
  gap: 15px;
  color: #ffffff;
  background-color: #010C13;

  .hr{
    width: 2px;
    height: 68px;
  }

  .logo{
    cursor: pointer;
  }

  .compony{
    font-size: 16px;
    line-height: 24px;
  }
}

.main{
  padding: 100px 220px 160px 220px;

  .brand{
    font-family: var(--font-tactic-sans-black);
    font-size: 40px;
    line-height: 56px;
  }

  .content{
    display: flex;
    gap: 60px;
    margin-top: 50px;
    .filter{
      width: 500px;

      .heading{
        font-family: var(--font-tactic-sans-med);
        margin-top: 30px;
        font-size: 28px;
      }

      .container{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        .variant{
          margin-top: 5px;
          margin-right: 5px;
          padding: 8px 20px;
          border-radius: 8px;
          border: 3px solid #000000;
          cursor: pointer;
          font-size: 16px;
        }

        .variant:hover{
          background-color: #A9A9A9;
        }

        .selected{
          background-color: #A9A9A9;
        }

      }

      .hr{
        padding: 0;
        width: 100%;
        height: 0;
        border: none;
        border-top: 2px solid #9AA7AD;
      }

      .resetButton{
        margin-top: 30px;
        padding: 23px 102px;
        width: 100%;
        border-radius: 8px;
        border: 3px solid #000000;
        font-family: var(--font-tactic-sans-bold);
        font-size: 28px;
        color: #000000;
        background-color: #ffffff;
        cursor: pointer;
      }
    }

    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 920px;
      .card{
        margin: 10px;

        .title{
          margin-top: 10px;
          font-size: 32px;
          font-family: var(--font-tactic-sans-black);
        }
        .description{
          margin-top: 10px;
          font-size: 28px;
          color: #9AA7AD;
        }

        .information{
          margin-top: 10px;
          width: 100%;
          padding: 23px 127px;
          border: none;
          border-radius: 8px;
          color: #ffffff;
          background-color: #CA0100;
          cursor: pointer;
        }
      }

    }
  }

}