.mobile{
  @media screen and (max-width: 400px){
    display: none;
  }
}

.main{
  padding: 100px 220px 160px 220px;
  @media screen and (max-width: 400px){
    padding: 30px 20px;
  }

  .brand{
    font-family: var(--font-tactic-sans-black);
    font-size: 40px;
    @media screen and (max-width: 400px){
      font-size: 20px;
    }
  }

  .content{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    @media screen and (max-width: 400px){
      margin-top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
    }

    .filter{
      width: 500px;
      @media screen and (max-width: 400px){
        width: 100%;
      }

      .heading{
        font-family: var(--font-tactic-sans-med);
        margin-top: 30px;
        font-size: 28px;
      }

      .container{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        .variant{
          margin: 5px 5px 0 0;
          padding: 8px 20px;
          border-radius: 8px;
          border: 1px solid var(--black);
          cursor: pointer;
          font-size: 16px;
          @media screen and (max-width: 400px){
            margin: 2px 2px 0 0;
            padding: 4px 10px;
            border-radius: 4px;
            font-size: 8px;
          }
        }

        .variant:hover{
          background-color: #A9A9A9;
        }

        .selected{
          background-color: #A9A9A9;
        }
      }

      .hr{
        padding: 0;
        width: 500px;
        height: 0;
        border: none;
        border-top: 2px solid var(--font-light);
      }

      .resetButton{
        margin-top: 30px;
        padding: 23px 102px;
        width: 100%;
        border-radius: 8px;
        border: 2px solid var(--black);
        font-family: var(--font-tactic-sans-bold);
        font-size: 28px;
        color: var(--black);
        background-color: var(--wight);
        cursor: pointer;
      }
    }

    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 900px;
      @media screen and (max-width: 400px){
        width: 280px;
        justify-content: center;
      }

      .card{
        margin: 5px;
        @media screen and (max-width: 400px){
          width: 280px;
        }

        .car{
          @media screen and (max-width: 400px){
            width: 280px;
            height: 180px;
          }
        }

        .title{
          margin-top: 10px;
          font-size: 32px;
          font-family: var(--font-tactic-sans-black);
          @media screen and (max-width: 400px){
            font-size: 16px;
          }
        }

        .description{
          margin-top: 10px;
          font-size: 28px;
          color: var(--font-light);
          @media screen and (max-width: 400px){
            font-size: 14px;
          }
        }

        .information{
          margin-top: 10px;
          width: 100%;
          padding: 23px 127px;
          border: none;
          border-radius: 8px;
          color: var(--wight);
          background-color: var(--replete-color);
          cursor: pointer;
          @media screen and (max-width: 400px){
            padding: 12px 75px;
          }
        }
      }
    }
  }
}
